body,
html {
    max-width: 100%;
    margin: 0;
    background-color: white
}

img {
    max-width: 100%;

}

.padding {
    padding: 30px 50px;
}

* {
    box-sizing: border-box;

}

.header {
    box-sizing: border-box;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB6E23;
    padding-bottom: 30px;
    text-align: center;
    max-width: 100%;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: auto;
}

h1 {
    color: white;
    font-size: 80px;
    text-align: center;
    position: relative;
    margin: auto;
    font-family: 'lobster', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
}

.choices {
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    max-width: 80%;
}

button {
    background-color: #DB8836;
    font-family: condensed;
    border: #DC7929;
    border-style: dashed;
    border-width: 5px;
    border-spacing: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 30px;
    max-width: 70%;
    max-height: 10%;

}

button:hover {
    background-color: #FA9B72;
}

button:active {
    background-color: #DC7929;
}

.bloop {

    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    max-height: 80%;

}

#HappyPIC {
    display: none;
}

#SadPIC {
    display: none;
}

#AngryPIC {
    display: none;
}

#ConfusedPIC {
    display: none;

}

#ShockedPIC {
    display: none;
}

.box {
    max-width: 45%;
    max-height: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    max-width: 100%;
    max-height: 10%;
    color: white;
    background-color: #DB6E23;
    padding: 20px;
    border-top: 20px;

}